@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body{
    height: 800px;
}

p{
    font-family: 'Roboto';
}

textarea{
    width: 98%;
    max-width: 98%;
    min-width: 98%;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu{
    width: 35%;
    height: 50px;
    text-align: center;
}

.menu:hover{
    cursor: pointer;
}

.menu-option{
    color: rgb(121, 119, 119);
}
.menu-option:hover{
    color: #1a73e8;
}

.menu-clicked{
    color: #1a73e8;
    text-decoration: underline;
    text-decoration-color: #1a73e8;
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
}

.add-task{
    width: 100%;
    height: 60px;
    text-align: center;
}

.btn-add{
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 80%;
}

.task-container{
    margin-top: 10px;
    height: 95%;
}

.task{
    margin-top: 10px;
    width: 100%;
    height: 10%;
    justify-content: normal;
}
.task:hover{
    background-color: rgb(235, 235, 235);
    transition: 0.5s;
}

.p-task{
    height: 45px;
    line-height: 45px;
    margin-left: 5%;
    width: 65%;
    overflow-x: auto;
}
.p-task-completed{
    color: gray;
    text-decoration: line-through;
    text-decoration-color: black;
}

.radio{
    margin-left: 20px;
}

.icon{
    margin-top: 18%;
    height: 20px;
    cursor: pointer;
}

.icon-container{
    width: 35%;
}

.priority{
    width: 60px;
    height: 20px;
    display: block;
    margin-top: 16%;
    text-align: center;
    border: solid;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: bold;
}

.high{
    background-color: RGB(243, 32, 19);
    border-color: darkred;
    color: darkred;
}
.medium{
    background-color: #f1c096;
    border-color: #ef7914;
    color: #ef7914;
}
.low{
    background-color: #edef8c;
    border-color: #7d7e20;
    color: #7d7e20;
}

svg{
    color: black;
}
.edit-icon:hover{
    color:#1a73e8
}
.delete-icon:hover{
    color: RGB(243, 32, 19);
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.input-text{
    width: 380px;
    height: 40px;
    font-family: 'Roboto';
    font-size: 20px;
    border-radius: 6px;
}

.note{
    width: 98.5%;
    text-align: start;
    margin-left: 5px;
    background-color: rgb(235, 235, 235);
    transition: 0.5s;
    line-height: 40px;
}

.note:hover{
    background-color: rgb(194, 194, 194);
    transition: 0.5s;
}